.App {
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: white;
}

.fullpage-swiper {
  position: relative;
  height: 100%;
}

.fullpage-slide-1 {
  height: 100%;
  background: black;
}

.fullpage-slide-2 {
  height: 100%;
  background: blue;
}

.fullpage-slide-3 {
  background: red;
}

.box {
  width: 100%;
  height: 800px;
  border: 1px solid #ddd;
}

.inner-swiper {

}

.inner-slide {
  max-width: 250px;

  p {
    height: 100px;
  }
}